dill==0.3.2
psutil==5.7.2
requests==2.24.0
colorama==0.4.3
PyMySQL==0.10.0
raven==6.10.0
Cython==0.29.21
datadog==0.38.0
tornado==4.4.3
python-socketio==4.6.0
bcrypt==3.1.7
mysqlclient==2.0.1
redis==3.5.3